<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" cotent="width=device-width, intial-scale=1.0">
    <title>Youtube video downloader</title>
</head>
<body>
    <h1> Youtube video downloader </h1>
    <form method="post">
        {% csrf_token %}
        <label for="url">Enter url:</label>
        <input type="text" id="url" name="url" placeholder="https://www.youtube.com/watch?v=example" required.>
        <button type="submit">Submit</button>
    </form>>
</body>
</html>